// SPECIAL START
body::-webkit-scrollbar {
  width: .5em;
  z-index: 10;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px 2px rgba(128, 152, 181, .3);
  background: none;
  opacity: .7;
  z-index: 10;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: greenyellow;
  box-shadow: inset 0 0 7px rgba(128, 152, 181, .5);
  cursor: pointer;
  z-index: 10;
}
