body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    min-height: calc(100vh - 100px);
}

ol,
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1600px;
    margin: 0 auto;
    @media (max-width: 990px) {
        max-width: none;
    }
}

textarea {
    resize: none;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}