.about {
    background: url(../img/main/ben.png) no-repeat center;
    background-size: cover;
    padding: 70px 30px;
    border-bottom: 5px solid $green;
    @media (max-width: 990px) {
        padding: 20px; 
        background: #fefefe;
    }
    .about-container {
        @media (max-width: 990px) {
            margin: 0 auto;
        }
        .about-box {
            background: #fff;
            position: relative;
            left: -50px;
            max-width: 800px;
            padding: 40px 40px 40px 140px;
            margin-bottom: 15px;
            @media (max-width: 1200px) {
                padding: 30px;
            }
            @media (max-width: 990px) {
                padding: 30px 30px 30px 100px;
            }
            @media (max-width: 990px) {
                padding: 10px;
                text-align: center;
                background: transparent;
                left: -4px;
                margin: 0 auto;
                margin-bottom: 35px;
            }
            .about-box-text {
                font-family: "Monst-medium";
                font-size: 1.1rem;
                @media (max-width: 990px) {
                    font-size: 1rem;
                }
                @media (max-width: 768px) {
                    font-size: .87rem;
                }
                span {
                    color: $green;
                    font-family: "Monst-bold";
                }
            }
        }
    }
}

.request-container {
    max-width: 1575px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin-bottom: 70px;
    @media (max-width: 1200px) {
        grid-template-columns: 2fr 4fr; 
        margin-bottom: 50px;
    }
    @media (max-width: 990px) {
        max-width: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 35px;
    }
    .request-box-title {
        text-align: right;
        display: grid;
        justify-content: center;
        align-items: center;
        @media (max-width: 1280px) {
            justify-content: start;
        }
        @media (max-width: 990px) {
            justify-content: center;
            text-align: center;
        }
        .request-title {
            color: #2b2a2f;
            font-family: "Monst-bold";
            font-size: 2rem;
            @media (max-width: 1280px) {
                font-size: 1.5rem;
                padding-right: 50px;
            }
            @media (max-width: 990px) {
                font-size: 1.25rem;
                margin-bottom: 25px;
                padding: 0;
            }
        }
    }
    .request-box {
        display: flex;
        @media (max-width: 990px) {
            flex-direction: column;
        }
        p {
            color: #2b2a2f;
            font-family: "Monst-medium";
            font-size: 1rem;
            @media (max-width: 990px) {
                margin-bottom: 10px;
            }
        }
        .request-text-1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px 0 40px 0;
            @media (max-width: 990px) {
                padding: 0;
                justify-content: center;
                text-align: center;
            }
        }
        .request-img {
            padding: 0 30px;
            @media (max-width: 990px) {
                display: none;
            }
        }
        .request-text-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 40px 0 35px 0;
            @media (max-width: 990px) {
                padding: 0;
                justify-content: center;
                text-align: center;
            }
        }
        .right {
            text-align: right;
            @media (max-width: 990px) {
                text-align: center;
            }
        }
    }
}

.green-warning {
    background: #9ec334;
    position: relative;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 100px;
    @media (max-width: 990px) {
        margin-bottom: 40px;
    }
    p {
        font-family: "Monst-bold";
        font-size: 1.5rem;
        font-style: italic;
        color: #fff;
        @media (max-width: 990px) {
            font-size: 1.25rem;
        }
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
    &::before {
        content: '';
        background: #9ec334;
        width: 100%;
        height: 100%;
        position: absolute;
        left: -100%;
        top: 0;
        display: block;
    }
    &::after {
        content: '';
        background: #9ec334;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -100%;
        top: 0;
        display: block;
    }
}