
@import url("animate.min.css");

@import 'variable/variable';
@import 'body/body';
@import 'header/header';
@import 'content/content';
@import 'feedback/feedback';
@import 'whyus/whyus';
@import 'about/about';
@import 'sp-pages/pages';
@import 'footer/footer';
@import 'traiding/traiding';
@import 'monitor/monitor';
@import 'special/special';
@import 'faq/faq';
@import 'kitchen/kitchen';
@import 'personal/personal';



@font-face {
    font-family: "Monst-regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Monst-bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Monst-medium";
    src: url(../fonts/Montserrat-Medium.ttf);
}

textarea {
    outline: none;
}


 .menu_item_wpglobus_menu_switch {
    position: relative;
   }
   
   header .header-container .sub-menu li {
     padding: 5px 10px;
     text-transform: capitalize;
   }
   
   .menu_item_wpglobus_menu_switch .sub-menu {
     position: absolute;
     left: -4px;
     top: 0px;
     display: none;
     padding: 30px 5px 0 5px;
   }
   
   @media (max-width: 990px) {
       .menu_item_wpglobus_menu_switch .sub-menu {
           position: relative;
           left: -10px;
           top: 0px;
           display: none;
           padding: 2px 5px 0 0;
       }
   }

li {
  list-style-type: none;
}

h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.about {
  padding: 55px 30px 60px 30px;
}

.wpglobus_language_name {
  text-transform: capitalize;
}

.feedback-form-box .button-wrapp {
  position: relative;
  left: 106px;
}