header {
    background-color: $black;
    border-bottom: 3px solid $green;
    position: relative;
    @media (max-width: 990px) {
        padding: 0 30px;
    }
    @media (max-width: 380px) {
        padding: 0 20px;
    }
    &::before {
        content: "";
        width: 0; 
        height: 0;
        position: absolute; 
        left: 34%; 
        top: 209px;
        border: 200px solid transparent;
        border-top: 70px solid $black;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 3;
        @media (max-width: 990px) {
            display: none;
        }
    }
    &::after {
        content: "";
        width: 0; 
        height: 0;
        position: absolute; 
        left: 34%; 
        top: 213px;
        border: 200px solid transparent;
        border-top: 70px solid $green;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 2;
        @media (max-width: 990px) {
            display: none;
        }
    }
    .mob-header-logotype{
        display: none;
        @media (max-width: 990px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        img {
            @media (max-width: 380px) {
                height: 50px;
            }
        }
        .burger-menu {
            img {
                height: 40px;
                @media (max-width: 380px) {
                    height: 30px;
                }
            }
        }
    }
    .header-container {
        padding: 15px 5px;
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        @media (max-width: 990px) {
            grid-template-columns: 1fr; 
        }
        .header-logotype {
            display: grid;
            justify-content: center;
            align-items: center;
            z-index: 5;
            position: relative;
            top: 14px;
            &::before {
                content: "";
                display: block;
                width: 500px; 
                height: 25px;
                position: absolute; 
                z-index: 5;
                bottom: -13px;
                background: $black;
                transform: translate(-50%, -50%);
                left: 50%;
                z-index: 3;
                @media (max-width: 990px) {
                    display: none;
                }
            }
            @media (max-width: 990px) {
                display: none;
            }
            img {
                position: relative;
                z-index: 3;
            }
        }
        .box-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 990px) {
                flex-direction: column;
                display: none;
            }
            li {
                padding: 0 10px;
                @media (max-width: 1200px) {
                    padding: 0 5px;
                }
                @media (max-width: 990px) {
                    margin-top: 15px;
                }
                a {
                    letter-spacing: .3px;
                    color: #fff;
                    font-size: 1.125rem;
                    font-family: "Monst-regular";
                    text-decoration: none;
                    white-space: nowrap;
                    transition: .5s;
                    @media (max-width: 1280px) {
                        font-size: .9rem;
                    }
                    &:hover {
                        text-decoration: underline;
                        color: $green;
                    }
                }
            }
        }
    }
}