.personal-bg {
    background: url(../img/personal/BG.png) no-repeat center;
    background-size: cover;
    padding: 90px 0;
    @media (max-width: 990px) {
        padding: 50px 20px;
        background: none;
    }
    .personal-info {
        .personal-wrapper {
            margin-bottom: 40px;
            p {
                color: #2b2a2f;
                font-size: 1.1rem;
                font-family: "Monst-medium";
                padding: 0 0 0 45px;
                letter-spacing: 0.8px;
                @media (max-width: 990px) {
                    font-size: .87rem;
                    padding: 0;
                }
                span {
                    color: #7dc035;
                    font-size: 1.2rem;
                    letter-spacing: 0.9px;
                    font-family: "Monst-bold";
                    @media (max-width: 990px) {
                        font-size: 1rem;
                    }
                }
            }
            .personal-info-list {
                background: #fff;
                padding-top: 20px;
                @media (max-width: 990px) {
                    background: none;
                }
            }
            ul {
                padding: 0 0 20px 45px;
                @media (max-width: 990px) {
                    padding: 0;
                }
                li {
                    font-size: 1.1rem;
                    font-family: "Monst-bold";
                    margin-bottom: 10px;
                    @media (max-width: 990px) {
                        font-size: .87rem;
                    }
                    &::before {
                        content: url(../img/personal/media-play-symbol.png);
                        position: relative;
                        top: 5px;
                        margin-right: 5px;
                    }
                }
            }
            img {
                max-width: 100%;
                @media (max-width: 1100px) {
                    margin: 0 auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                @media (max-width: 990px) {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .personal-info-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 30px;
                @media (max-width: 1100px) {
                    grid-template-columns: 1fr;
                }
                @media (max-width: 990px) {
                    margin-bottom: 0;

                }
                .personal-info-box {
                    display: grid;
                    align-items: center;
                    @media (max-width: 990px) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .skills {
        background: url(../img/personal/BG_skills.png) no-repeat center;
        background-size: cover;
        padding: 40px 20px 120px 20px;
        margin-bottom: 60px;
        @media (max-width: 990px) {
            margin-bottom: 40px;
            background: none;
            padding: 0;
        }
        .skills-title {
            color: #2b2a2f;
            font-size: 1.2rem;
            text-align: center;
            text-transform: uppercase;
            font-family: "Monst-bold";
            margin-bottom: 60px;
            @media (max-width: 990px) {
                margin-bottom: 30px;
                font-size: 1rem;
            }
        }
        .skills-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
            }
            .skills-box {
                display: grid;
                justify-content: center;
                align-items: center;
                height: 350px;
                margin: 0 60px;
                background-color: #8ec314;
                @media (max-width: 1280px) {
                    margin: 0 30px;
                }
                @media (max-width: 1200px) {
                    height: 325px;
                }
                @media (max-width: 990px) {
                    height: auto;
                    margin: 20px 0;
                    padding: 40px 20px;
                }
                .skills-box-text {
                    text-align: center;
                    letter-spacing: .6px;
                    font-size: 1.20rem;
                    color: #2b2a2f;
                    font-family: "Monst-bold";
                    @media (max-width: 1200px) {
                        font-size: 1rem;
                    }
                    @media (max-width: 990px) {
                        font-size: .87rem;
                    }
                }
            }
            .num-1{
                position: relative;
                &::after {
                    content: '01';
                    position: absolute;
                    font-family: "Monst-bold";
                    color: #fff;
                    font-size: 9rem;
                    top: -60px;
                    left: -45px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
                &::before {
                    content: url(../img/personal/people.png);
                    position: absolute;
                    right: -50px;
                    bottom: -80px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
            }
            .num-2{
                position: relative;
                &::after {
                    content: '02';
                    position: absolute;
                    font-family: "Monst-bold";
                    color: #fff;
                    font-size: 9rem;
                    top: -60px;
                    left: -45px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
                &::before {
                    content: url(../img/personal/skills.png);
                    position: absolute;
                    right: -50px;
                    bottom: -80px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
            }
            .num-3{
                position: relative;
                &::after {
                    content: '03';
                    position: absolute;
                    font-family: "Monst-bold";
                    color: #fff;
                    font-size: 9rem;
                    top: -60px;
                    left: -45px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
                &::before {
                    content: url(../img/personal/ed.png);
                    position: absolute;
                    right: -50px;
                    bottom: -80px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
            }
        }
    }
    .check {
        .check-title {
            font-size: 1.25rem;
            color: #7dc035;
            letter-spacing: .96px;
            font-family: "Monst-bold";
            position: relative;
            left: 30px;
            margin-bottom: 60px;
            @media (max-width: 990px) {
                font-size: 1rem;
                left: 0;
                margin-bottom: 30px;
                text-align: center;
            }
        }
        .check-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            @media (max-width: 1150px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 0;
            }
            .check-box {
                display: grid;
                justify-content: center;
                align-items: center;
                @media (max-width: 990px) {
                    margin-bottom: 40px;
                }
                a {
                    img {
                        max-width: 100%;
                    }
                }
            }
            .check-box:last-child {
                margin-bottom: 0;
            }
        }
    }
}