@charset "UTF-8";
.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-light {
  font-weight: 300 !important; }

.font-weight-normal {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.font-italic {
  font-style: italic !important; }

.text-white {
  color: #fff !important; }

.text-primary {
  color: #007bff !important; }

a.text-primary:hover, a.text-primary:focus {
  color: #0062cc !important; }

.text-secondary {
  color: #6c757d !important; }

a.text-secondary:hover, a.text-secondary:focus {
  color: #545b62 !important; }

.text-success {
  color: #28a745 !important; }

a.text-success:hover, a.text-success:focus {
  color: #1e7e34 !important; }

.text-info {
  color: #17a2b8 !important; }

a.text-info:hover, a.text-info:focus {
  color: #117a8b !important; }

.text-warning {
  color: #ffc107 !important; }

a.text-warning:hover, a.text-warning:focus {
  color: #d39e00 !important; }

.text-danger {
  color: #dc3545 !important; }

a.text-danger:hover, a.text-danger:focus {
  color: #bd2130 !important; }

.text-light {
  color: #f8f9fa !important; }

a.text-light:hover, a.text-light:focus {
  color: #dae0e5 !important; }

.text-dark {
  color: #343a40 !important; }

a.text-dark:hover, a.text-dark:focus {
  color: #1d2124 !important; }

.text-body {
  color: #212529 !important; }

.text-muted {
  color: #6c757d !important; }

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important; }

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body,
html {
  font: 400 14px 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .04em;
  width: 100%;
  height: auto;
  text-decoration: none;
  border-style: none; }

html {
  margin: auto;
  width: 100%; }

body {
  overflow-x: hidden; }

ol,
ul,
dl,
li {
  list-style: none;
  display: block; }

p {
  margin: 0; }

.container {
  max-width: 1600px;
  width: 100%;
  height: auto;
  margin: auto; }
  @media (max-width: 1630px) {
    .container {
      max-width: 1400px; } }
  @media (max-width: 1430px) {
    .container {
      max-width: 1366px; } }
  @media (max-width: 1366px) {
    .container {
      max-width: 1200px; } }
  @media (max-width: 1230px) {
    .container {
      max-width: 1100px; } }
  @media (max-width: 1130px) {
    .container {
      max-width: 1054px; } }
  @media (max-width: 1054px) {
    .container {
      max-width: 991px; } }
  @media (max-width: 923px) {
    .container {
      max-width: 800px; } }
  @media (max-width: 823px) {
    .container {
      max-width: 700px; } }
  @media (max-width: 723px) {
    .container {
      max-width: 600px; } }
  @media (max-width: 623px) {
    .container {
      max-width: 500px; } }
  @media (max-width: 523px) {
    .container {
      max-width: 450px; } }
  @media (max-width: 479px) {
    .container {
      max-width: 400px; } }
  @media (max-width: 423px) {
    .container {
      max-width: 380px; } }
  @media (max-width: 400px) {
    .container {
      max-width: 350px; } }
  @media (max-width: 370px) {
    .container {
      max-width: 330px; } }
  @media (max-width: 350px) {
    .container {
      max-width: 300px; } }

.container-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: auto; }

span {
  display: block; }

h1 {
  font: 500 45px 'IBM Plex Sans'; }

h2 {
  font: 500 43px 'IBM Plex Sans'; }

h3 {
  font: 700 20px 'IBM Plex Sans'; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000; }

.btn {
  color: black; }

.btn_active {
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 7px 17px;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease; }
  .btn_active:hover {
    -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease; }

nav {
  position: absolute;
  max-height: 130px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  padding: 8px 0 0 0;
  background: url("../../img/main/BG_header.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }
  @media (max-width: 1366px) {
    nav {
      max-height: 100px; } }
  @media (max-width: 1230px) {
    nav {
      padding: 5px 0 0 0; } }
  @media (max-width: 1024px) {
    nav {
      max-height: 95px; } }
  nav ul {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    z-index: 10; }
  nav li {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease; }
    @media (max-width: 1024px) {
      nav li {
        line-height: 35px; } }
    nav li:first-child {
      margin: 0; }
    nav li:nth-child(2) {
      margin: 0 -36px; }
      @media (max-width: 1366px) {
        nav li:nth-child(2) {
          margin: 0 -31px; } }
      @media (max-width: 1230px) {
        nav li:nth-child(2) {
          margin: 0 -30px; } }
      @media (max-width: 1130px) {
        nav li:nth-child(2) {
          margin: 0 -31px; } }
      @media (max-width: 1054px) {
        nav li:nth-child(2) {
          margin: 0 -28px; } }
    nav li:nth-child(3) {
      margin: 0 260px 0 0; }
      @media (max-width: 1366px) {
        nav li:nth-child(3) {
          margin: 0 200px 0 0; } }
      @media (max-width: 1230px) {
        nav li:nth-child(3) {
          margin: 0 170px 0 0; } }
      @media (max-width: 1130px) {
        nav li:nth-child(3) {
          margin: 0 188px 0 0; } }
      @media (max-width: 1024px) {
        nav li:nth-child(3) {
          margin: 0; } }
    nav li:nth-child(4) {
      margin: 0; }
    nav li:nth-child(5) {
      margin: 0; }
    nav li:last-child {
      margin: 0; }
    nav li a {
      font: 400 18px 'Montserrat', sans-serif;
      display: inline-block;
      color: white;
      -webkit-transition: border .3s ease, color .35s ease;
      -o-transition: border .3s ease, color .35s ease;
      transition: border .3s ease, color .35s ease;
      padding: 0 0 2px;
      border-bottom: 1.5px solid transparent; }
      @media (max-width: 1366px) {
        nav li a {
          font-size: 15px; } }
      @media (max-width: 1230px) {
        nav li a {
          font-size: 14px; } }
      @media (max-width: 1054px) {
        nav li a {
          font-size: 13px; } }
      nav li a:hover, nav li a:active, nav li a:focus {
        color: #7dc035;
        border: none;
        border-bottom: 1.5px solid #7dc035;
        -webkit-transition: border .3s ease, color .35s ease;
        -o-transition: border .3s ease, color .35s ease;
        transition: border .3s ease, color .35s ease;
        padding: 0 0 2px;
        outline: none !important; }
  nav .custom-logo-link {
    display: block;
    margin: auto;
    top: 8px;
    position: relative;
    max-width: 175px;
    max-height: 66px; }
    @media (max-width: 1366px) {
      nav .custom-logo-link {
        top: 2px;
        max-width: 140px;
        max-height: auto; } }
    @media (max-width: 1230px) {
      nav .custom-logo-link {
        top: 5px;
        max-width: 135px; } }
    @media (max-width: 1024px) {
      nav .custom-logo-link {
        top: 1px;
        max-width: 105px; } }
  nav img {
    width: 100%;
    height: 100%; }
  nav.fixed-nav {
    position: fixed;
    max-height: 125px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease; }
    @media (max-width: 1366px) {
      nav.fixed-nav {
        max-height: 98px; } }
    @media (max-width: 1024px) {
      nav.fixed-nav {
        max-height: 70px; } }
    nav.fixed-nav .custom-logo-link {
      -webkit-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease; }
      @media (max-width: 1024px) {
        nav.fixed-nav .custom-logo-link {
          top: 0;
          max-width: 80px; } }
    @media (max-width: 1024px) {
      nav.fixed-nav .d-lg-none {
        top: -3px; } }
    @media (max-width: 1024px) {
      nav.fixed-nav .menu-opened {
        top: 35px; } }

.burger-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }

.menu-opened {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2b2a2f;
  padding: 20px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  position: fixed;
  z-index: 8;
  width: 100%;
  top: 49px;
  left: 0px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }

.menu-collapse {
  position: relative; }

.d-lg-block {
  display: block;
  position: relative;
  top: -42px; }
  @media (max-width: 1230px) {
    .d-lg-block {
      top: -37px; } }
  @media (max-width: 1024px) {
    .d-lg-block {
      display: none; } }

.d-lg-none {
  display: none; }
  @media (max-width: 1024px) {
    .d-lg-none {
      display: block;
      position: absolute;
      right: 31px;
      top: 3px; } }

.btn-open {
  margin: 20px 0px 0px 0;
  border: none;
  background: #2b2a2f;
  width: 100%;
  height: auto;
  position: relative; }
  .btn-open span,
  .btn-open span:after,
  .btn-open span:before {
    top: 50%;
    margin: -1px 0 0 -14px;
    left: 50%;
    position: absolute;
    width: 28px;
    height: 2px;
    background: white; }
  .btn-open span:after,
  .btn-open span:before {
    content: '';
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
  .btn-open span:after {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px); }
  .btn-open span:before {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px); }

.btn-open-active span:before {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  width: 13px; }

.btn-open-active span:after {
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  width: 13px; }

header {
  background: url("../../img/main/BG_1block.png") no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 100px 0; }
  header img {
    width: 100%;
    height: auto;
    top: -100px;
    position: relative; }

footer {
  max-height: 50px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 2500px; }

input,
input:focus,
input:visited,
input:active,
input:hover,
textarea:focus,
textarea,
textarea:hover,
textarea:visited,
textarea:active,
button,
button:focus,
button:visited,
button:active,
button:hover {
  outline: none;
  border: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body::-webkit-scrollbar {
  width: .5em;
  z-index: 10; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px 2px rgba(128, 152, 181, 0.3);
          box-shadow: inset 0 0 7px 2px rgba(128, 152, 181, 0.3);
  background: none;
  opacity: .7;
  z-index: 10; }

body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: greenyellow;
  -webkit-box-shadow: inset 0 0 7px rgba(128, 152, 181, 0.5);
          box-shadow: inset 0 0 7px rgba(128, 152, 181, 0.5);
  cursor: pointer;
  z-index: 10; }

/* сдвиг placeholder-а вправо при фокусе*/
input::-webkit-input-placeholder {
  text-indent: 0;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }

input::-moz-placeholder {
  text-indent: 0;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }

input:-moz-placeholder {
  text-indent: 0;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }

input:-ms-input-placeholder {
  text-indent: 0;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }

input:focus::-webkit-input-placeholder {
  text-indent: 105%;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }

input:focus::-moz-placeholder {
  text-indent: 105%;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }

input:focus:-moz-placeholder {
  text-indent: 105%;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }

input:focus:-ms-input-placeholder {
  text-indent: 105%;
  -webkit-transition: text-indent .6s ease;
  -o-transition: text-indent .6s ease;
  transition: text-indent .6s ease; }
