@import url("animate.min.css");

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

main {
  min-height: -webkit-calc(100vh - 100px);
  min-height: calc(100vh - 100px); }

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1600px;
  margin: 0 auto; }
  @media (max-width: 990px) {
    .container {
      max-width: none; } }

textarea {
  resize: none; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

header {
  background-color: #2b2a2f;
  border-bottom: 3px solid #7dc035;
  position: relative; }
  @media (max-width: 990px) {
    header {
      padding: 0 30px; } }
  @media (max-width: 380px) {
    header {
      padding: 0 20px; } }
  header::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 34%;
    top: 209px;
    border: 200px solid transparent;
    border-top: 70px solid #2b2a2f;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    z-index: 3; }
    @media (max-width: 990px) {
      header::before {
        display: none; } }
  header::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 34%;
    top: 213px;
    border: 200px solid transparent;
    border-top: 70px solid #7dc035;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    z-index: 2; }
    @media (max-width: 990px) {
      header::after {
        display: none; } }
  header .mob-header-logotype {
    display: none; }
    @media (max-width: 990px) {
      header .mob-header-logotype {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (max-width: 380px) {
      header .mob-header-logotype img {
        height: 50px; } }
    header .mob-header-logotype .burger-menu img {
      height: 40px; }
      @media (max-width: 380px) {
        header .mob-header-logotype .burger-menu img {
          height: 30px; } }
  header .header-container {
    padding: 15px 5px;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr; }
    @media (max-width: 990px) {
      header .header-container {
        grid-template-columns: 1fr; } }
    header .header-container .header-logotype {
      display: grid;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 5;
      position: relative;
      top: 14px; }
      header .header-container .header-logotype::before {
        content: "";
        display: block;
        width: 500px;
        height: 25px;
        position: absolute;
        z-index: 5;
        bottom: -13px;
        background: #2b2a2f;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        left: 50%;
        z-index: 3; }
        @media (max-width: 990px) {
          header .header-container .header-logotype::before {
            display: none; } }
      @media (max-width: 990px) {
        header .header-container .header-logotype {
          display: none; } }
      header .header-container .header-logotype img {
        position: relative;
        z-index: 3; }
    header .header-container .box-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (max-width: 990px) {
        header .header-container .box-menu {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          display: none; } }
      header .header-container .box-menu li {
        padding: 0 10px; }
        @media (max-width: 1200px) {
          header .header-container .box-menu li {
            padding: 0 5px; } }
        @media (max-width: 990px) {
          header .header-container .box-menu li {
            margin-top: 15px; } }
        header .header-container .box-menu li a {
          letter-spacing: .3px;
          color: #fff;
          font-size: 1.125rem;
          font-family: "Monst-regular";
          text-decoration: none;
          white-space: nowrap;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
          @media (max-width: 1280px) {
            header .header-container .box-menu li a {
              font-size: .9rem; } }
          header .header-container .box-menu li a:hover {
            text-decoration: underline;
            color: #7dc035; }

.feedback {
  background: url(../img/main/BG_contacts.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 755px;
  padding: 0 30px;
  position: relative;
  bottom: -60px; }
  @media (max-width: 990px) {
    .feedback {
      height: auto;
      background: #f7f7f7;
      padding: 0px 20px 35px 20px;
      bottom: 0; } }
  .feedback .feedback-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    z-index: 10;
    max-width: 1100px;
    margin: 0 auto; }
    @media (max-width: 990px) {
      .feedback .feedback-container {
        max-width: none;
        grid-template-columns: 1fr; } }
    .feedback .feedback-container .feedback-contact-box {
      display: grid;
      height: 305px; }
      @media (max-width: 990px) {
        .feedback .feedback-container .feedback-contact-box {
          height: 200px;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center;
          margin-bottom: 30px; } }
      .feedback .feedback-container .feedback-contact-box .phone-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      .feedback .feedback-container .feedback-contact-box a, .feedback .feedback-container .feedback-contact-box address {
        color: #585858;
        font-family: "Monst-bold";
        font-size: 1.1rem;
        letter-spacing: .43px;
        text-decoration: none;
        font-style: normal; }

.feedback-form-box {
  position: relative; }
  .feedback-form-box .input-box {
    margin-bottom: 20px; }
    @media (max-width: 990px) {
      .feedback-form-box .input-box {
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr; } }
  .feedback-form-box label {
    color: #585858;
    font-family: "Monst-bold";
    font-size: 1.1rem;
    letter-spacing: .43px;
    position: relative;
    top: 20px; }
    @media (max-width: 990px) {
      .feedback-form-box label {
        margin-bottom: 30px;
        font-size: 1rem;
        text-align: center;
        top: 0; } }
  .feedback-form-box .input {
    padding: 10px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #cacaca;
    position: absolute;
    left: 130px;
    width: 420px;
    font-size: 1rem;
    outline: none;
    font-family: "Monst-regular"; }
    @media (max-width: 990px) {
      .feedback-form-box .input {
        position: relative;
        left: 0;
        margin: 0 auto; } }
    @media (max-width: 576px) {
      .feedback-form-box .input {
        width: 94%; } }
  .feedback-form-box textarea {
    height: 150px;
    padding: 10px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #cacaca;
    position: relative;
    left: 130px;
    width: 420px;
    font-size: 1rem;
    font-family: "Monst-regular";
    margin-bottom: 20px; }
    @media (max-width: 990px) {
      .feedback-form-box textarea {
        left: 0;
        margin: 0 auto; } }
    @media (max-width: 576px) {
      .feedback-form-box textarea {
        width: 94%; } }
  .feedback-form-box .button-wrapp {
    position: relative;
    left: 130px; }
    @media (max-width: 990px) {
      .feedback-form-box .button-wrapp {
        left: 0;
        text-align: center; } }
    .feedback-form-box .button-wrapp .button-send {
      outline: none;
      border: none;
      font-size: 1.5rem;
      font-family: "Monst-medium";
      background: #7dc035;
      color: #fff;
      padding: 12px 17px; }

.whyus {
  background: url(../img/main/BG_why_us.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 140px 30px; }
  .whyus .title-xl {
    margin-bottom: 120px; }
    @media (max-width: 990px) {
      .whyus .title-xl {
        margin-bottom: 60px; } }
    @media (max-width: 768px) {
      .whyus .title-xl {
        margin-bottom: 40px; } }
  @media (max-width: 990px) {
    .whyus {
      height: auto;
      background: #f7f7f7;
      padding: 35px 20px 35px 20px; } }
  .whyus .whyus-wrapper {
    max-width: 1130px;
    margin: 0 auto; }
    @media (max-width: 990px) {
      .whyus .whyus-wrapper {
        max-width: none; } }
    .whyus .whyus-wrapper .whyus-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr 1fr;
      position: relative; }
      @media (max-width: 990px) {
        .whyus .whyus-wrapper .whyus-container {
          grid-template-columns: 1fr;
          grid-auto-rows: 1fr 1fr 1fr 1fr; } }
      .whyus .whyus-wrapper .whyus-container::before {
        content: '';
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 25px;
        width: 25px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #fff;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        left: 50%;
        z-index: 2; }
        @media (max-width: 990px) {
          .whyus .whyus-wrapper .whyus-container::before {
            display: none; } }
      .whyus .whyus-wrapper .whyus-container .whyus-box {
        display: grid;
        grid-template-columns: 1fr 3fr;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 40px 30px; }
        @media (max-width: 990px) {
          .whyus .whyus-wrapper .whyus-container .whyus-box {
            padding: 30px 0; } }
        @media (max-width: 768px) {
          .whyus .whyus-wrapper .whyus-container .whyus-box {
            grid-template-columns: 1fr;
            padding: 20px 0; } }
        @media (max-width: 768px) {
          .whyus .whyus-wrapper .whyus-container .whyus-box img {
            display: grid;
            margin: 0 auto;
            margin-bottom: 20px; } }
        .whyus .whyus-wrapper .whyus-container .whyus-box .whyus-title {
          color: #7dc035;
          font-family: "Monst-bold";
          font-size: 1.30rem;
          margin-bottom: 10px; }
          @media (max-width: 990px) {
            .whyus .whyus-wrapper .whyus-container .whyus-box .whyus-title {
              font-size: 1.2rem; } }
          @media (max-width: 576px) {
            .whyus .whyus-wrapper .whyus-container .whyus-box .whyus-title {
              font-size: 1.125; } }
        .whyus .whyus-wrapper .whyus-container .whyus-box .whyus-text {
          font-family: "Monst-regular";
          font-size: 1.12rem; }
          @media (max-width: 990px) {
            .whyus .whyus-wrapper .whyus-container .whyus-box .whyus-text {
              font-size: 1rem; } }
          @media (max-width: 576px) {
            .whyus .whyus-wrapper .whyus-container .whyus-box .whyus-text {
              font-size: .87rem; } }
        .whyus .whyus-wrapper .whyus-container .whyus-box .right {
          text-align: right; }
          @media (max-width: 990px) {
            .whyus .whyus-wrapper .whyus-container .whyus-box .right {
              text-align: center; } }
        .whyus .whyus-wrapper .whyus-container .whyus-box .left {
          text-align: left; }
          @media (max-width: 990px) {
            .whyus .whyus-wrapper .whyus-container .whyus-box .left {
              text-align: center; } }
      .whyus .whyus-wrapper .whyus-container .box-2 {
        grid-template-columns: 3fr 1fr; }
        .whyus .whyus-wrapper .whyus-container .box-2 img {
          display: grid;
          padding-left: 25px; }
          @media (max-width: 990px) {
            .whyus .whyus-wrapper .whyus-container .box-2 img {
              padding: 0; } }
        @media (max-width: 768px) {
          .whyus .whyus-wrapper .whyus-container .box-2 {
            grid-template-columns: 1fr; } }
      .whyus .whyus-wrapper .whyus-container .border-1 {
        border-right: 1px solid #7dc035;
        border-bottom: 1px solid #7dc035; }
        @media (max-width: 990px) {
          .whyus .whyus-wrapper .whyus-container .border-1 {
            border: none; } }
      .whyus .whyus-wrapper .whyus-container .border-2 {
        border-left: 1px solid #7dc035;
        border-top: 1px solid #7dc035; }
        @media (max-width: 990px) {
          .whyus .whyus-wrapper .whyus-container .border-2 {
            border: none; } }
      .whyus .whyus-wrapper .whyus-container .mob-img {
        display: none; }
        @media (max-width: 768px) {
          .whyus .whyus-wrapper .whyus-container .mob-img {
            display: block; } }
      @media (max-width: 768px) {
        .whyus .whyus-wrapper .whyus-container .desk-img {
          display: none; } }

.about {
  background: url(../img/main/ben.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 70px 30px;
  border-bottom: 5px solid #7dc035; }
  @media (max-width: 990px) {
    .about {
      padding: 20px;
      background: #fefefe; } }
  @media (max-width: 990px) {
    .about .about-container {
      margin: 0 auto; } }
  .about .about-container .about-box {
    background: #fff;
    position: relative;
    left: -50px;
    max-width: 800px;
    padding: 40px 40px 40px 140px;
    margin-bottom: 15px; }
    @media (max-width: 1200px) {
      .about .about-container .about-box {
        padding: 30px; } }
    @media (max-width: 990px) {
      .about .about-container .about-box {
        padding: 30px 30px 30px 100px; } }
    @media (max-width: 990px) {
      .about .about-container .about-box {
        padding: 10px;
        text-align: center;
        background: transparent;
        left: -4px;
        margin: 0 auto;
        margin-bottom: 35px; } }
    .about .about-container .about-box .about-box-text {
      font-family: "Monst-medium";
      font-size: 1.1rem; }
      @media (max-width: 990px) {
        .about .about-container .about-box .about-box-text {
          font-size: 1rem; } }
      @media (max-width: 768px) {
        .about .about-container .about-box .about-box-text {
          font-size: .87rem; } }
      .about .about-container .about-box .about-box-text span {
        color: #7dc035;
        font-family: "Monst-bold"; }

.request-container {
  max-width: 1575px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-bottom: 70px; }
  @media (max-width: 1200px) {
    .request-container {
      grid-template-columns: 2fr 4fr;
      margin-bottom: 50px; } }
  @media (max-width: 990px) {
    .request-container {
      max-width: none;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin-bottom: 35px; } }
  .request-container .request-box-title {
    text-align: right;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1280px) {
      .request-container .request-box-title {
        -webkit-box-pack: start;
        -webkit-justify-content: start;
            -ms-flex-pack: start;
                justify-content: start; } }
    @media (max-width: 990px) {
      .request-container .request-box-title {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center; } }
    .request-container .request-box-title .request-title {
      color: #2b2a2f;
      font-family: "Monst-bold";
      font-size: 2rem; }
      @media (max-width: 1280px) {
        .request-container .request-box-title .request-title {
          font-size: 1.5rem;
          padding-right: 50px; } }
      @media (max-width: 990px) {
        .request-container .request-box-title .request-title {
          font-size: 1.25rem;
          margin-bottom: 25px;
          padding: 0; } }
  .request-container .request-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 990px) {
      .request-container .request-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .request-container .request-box p {
      color: #2b2a2f;
      font-family: "Monst-medium";
      font-size: 1rem; }
      @media (max-width: 990px) {
        .request-container .request-box p {
          margin-bottom: 10px; } }
    .request-container .request-box .request-text-1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 15px 0 40px 0; }
      @media (max-width: 990px) {
        .request-container .request-box .request-text-1 {
          padding: 0;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center; } }
    .request-container .request-box .request-img {
      padding: 0 30px; }
      @media (max-width: 990px) {
        .request-container .request-box .request-img {
          display: none; } }
    .request-container .request-box .request-text-2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 40px 0 35px 0; }
      @media (max-width: 990px) {
        .request-container .request-box .request-text-2 {
          padding: 0;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center; } }
    .request-container .request-box .right {
      text-align: right; }
      @media (max-width: 990px) {
        .request-container .request-box .right {
          text-align: center; } }

.green-warning {
  background: #9ec334;
  position: relative;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 100px; }
  @media (max-width: 990px) {
    .green-warning {
      margin-bottom: 40px; } }
  .green-warning p {
    font-family: "Monst-bold";
    font-size: 1.5rem;
    font-style: italic;
    color: #fff; }
    @media (max-width: 990px) {
      .green-warning p {
        font-size: 1.25rem; } }
    @media (max-width: 768px) {
      .green-warning p {
        font-size: 1rem; } }
  .green-warning::before {
    content: '';
    background: #9ec334;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    display: block; }
  .green-warning::after {
    content: '';
    background: #9ec334;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    display: block; }

.title-xl {
  font-family: "Monst-bold";
  font-size: 2.25rem;
  color: #1a191e;
  padding-left: 40px;
  position: relative;
  z-index: 2;
  margin-bottom: 45px; }
  .title-xl::before {
    content: url(../img/main/candle.png);
    position: absolute;
    left: -20px;
    top: -7px;
    z-index: -1; }
    @media (max-width: 990px) {
      .title-xl::before {
        display: none; } }
  @media (max-width: 990px) {
    .title-xl {
      padding: 0;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 15px; } }
  @media (max-width: 576px) {
    .title-xl {
      font-size: 1.5rem; } }

.title-sm {
  color: #151515;
  font-family: "Monst-bold";
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .51px;
  margin-bottom: 45px;
  padding-left: 175px; }
  @media (max-width: 990px) {
    .title-sm {
      padding: 0;
      text-align: center;
      margin-bottom: 30px; } }

footer {
  background: #2b2a2f;
  padding: 25px;
  border-top: 4px solid #7dc035;
  z-index: 2;
  position: relative; }
  @media (max-width: 990px) {
    footer {
      padding: 15px; } }
  footer .footer-container-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "nav-footer logo-footer social-footer"; }
    @media (max-width: 990px) {
      footer .footer-container-main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "nav-footer" "logo-footer" "social-footer"; } }
    footer .footer-container-main .footer-nav-container {
      grid-area: nav-footer;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px; }
      @media (max-width: 990px) {
        footer .footer-container-main .footer-nav-container {
          grid-template-columns: 1fr;
          grid-template-rows: 60px 60px;
          grid-gap: 0;
          margin-bottom: 20px; } }
      @media (max-width: 990px) {
        footer .footer-container-main .footer-nav-container .footer-nav-box {
          display: grid;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center; } }
      footer .footer-container-main .footer-nav-container .footer-nav-box li a {
        letter-spacing: .3px;
        color: #fff;
        font-size: .75rem;
        font-family: "Monst-regular";
        text-decoration: none;
        white-space: nowrap;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        footer .footer-container-main .footer-nav-container .footer-nav-box li a:hover {
          text-decoration: underline;
          color: #75ac02;
          font-family: "Monst-bold"; }
    footer .footer-container-main .footer-logotype {
      grid-area: logo-footer;
      display: grid;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      grid-template-rows: 1fr 1fr; }
      footer .footer-container-main .footer-logotype img {
        margin: 0 auto; }
      footer .footer-container-main .footer-logotype p {
        color: #fff;
        font-family: "Monst-regular";
        font-size: .87rem;
        line-height: 0.4; }
      @media (max-width: 990px) {
        footer .footer-container-main .footer-logotype {
          margin-bottom: 25px; } }
    footer .footer-container-main .footer-social-link {
      grid-area: social-footer;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; }
      @media (max-width: 990px) {
        footer .footer-container-main .footer-social-link {
          grid-gap: 0;
          grid-template-columns: 1fr;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      footer .footer-container-main .footer-social-link .social-links-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 990px) {
          footer .footer-container-main .footer-social-link .social-links-box {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-bottom: 15px; } }
        footer .footer-container-main .footer-social-link .social-links-box .footer-link-social {
          margin: 0 5px; }
          footer .footer-container-main .footer-social-link .social-links-box .footer-link-social .footer-svg {
            height: 22px; }
      footer .footer-container-main .footer-social-link .button-box-up {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 990px) {
          footer .footer-container-main .footer-social-link .button-box-up {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            position: relative;
            left: -10px; } }
        footer .footer-container-main .footer-social-link .button-box-up .button-up {
          color: #fff;
          letter-spacing: .3px;
          font-size: .8rem;
          text-decoration: none;
          position: relative;
          font-family: "Monst-regular"; }
          footer .footer-container-main .footer-social-link .button-box-up .button-up:hover {
            text-decoration: none;
            color: #fff; }
          footer .footer-container-main .footer-social-link .button-box-up .button-up::after {
            content: '\2191';
            color: #fff;
            font-size: 1rem;
            position: absolute;
            right: -24.5px;
            font-family: none;
            top: -1px; }
          footer .footer-container-main .footer-social-link .button-box-up .button-up::before {
            content: '';
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            border: 1px solid #7dc035;
            height: 22px;
            width: 22px;
            display: block;
            position: absolute;
            right: -32.25px;
            top: -3.5px; }

.trading {
  background: url(../img/main/BG_1block.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 100px 30px;
  border-bottom: 5px solid #7dc035; }
  @media (max-width: 990px) {
    .trading {
      padding: 35px 20px 35px 20px;
      background: #2b2a2f; } }
  .trading .trading-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1350px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 990px) {
      .trading .trading-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; } }
    .trading .trading-container .trading-box {
      padding: 0 20px; }
      @media (max-width: 990px) {
        .trading .trading-container .trading-box {
          margin-bottom: 30px;
          padding: 0; } }
      .trading .trading-container .trading-box .trading-title {
        color: #f7f7f7;
        font-family: "Monst-bold";
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 25px; }
        @media (max-width: 990px) {
          .trading .trading-container .trading-box .trading-title {
            margin-bottom: 15px; } }
      .trading .trading-container .trading-box .trading-img-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        margin-bottom: 25px; }
        @media (max-width: 990px) {
          .trading .trading-container .trading-box .trading-img-box {
            margin-bottom: 15px; } }
      .trading .trading-container .trading-box .trading-text {
        opacity: .6;
        color: #f7f7f7;
        font-family: "Monst-regular";
        font-size: 1.1rem;
        text-align: justify;
        max-width: 320px;
        margin: 0 auto; }

.monitor-video {
  background: url(../img/main/BG_1block.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 990px;
  border-bottom: 5px solid #7dc035; }
  @media (max-width: 1100px) {
    .monitor-video {
      height: 100%; } }
  @media (max-width: 990px) {
    .monitor-video {
      margin-bottom: 15px; } }
  .monitor-video .monitoe-video-slider {
    padding: 75px 0 0 0;
    margin: 0 50px; }
    @media (max-width: 990px) {
      .monitor-video .monitoe-video-slider {
        padding: 30px 0 0 0;
        margin: 0 50px; } }
    .monitor-video .monitoe-video-slider .owl-carousel {
      background: url(../img/main/monitor2.png) no-repeat center;
      -webkit-background-size: 1500px 1150px;
              background-size: 1500px 1150px;
      height: 850px; }
      @media (max-width: 1100px) {
        .monitor-video .monitoe-video-slider .owl-carousel {
          background: none;
          height: 100%; } }
      .monitor-video .monitoe-video-slider .owl-carousel video {
        display: block;
        height: 600px;
        max-width: 1070px;
        margin: 0 auto;
        margin-top: 47px; }
        @media (max-width: 1100px) {
          .monitor-video .monitoe-video-slider .owl-carousel video {
            max-width: 100%;
            height: 100%;
            margin-top: 30px; } }
        @media (max-width: 990px) {
          .monitor-video .monitoe-video-slider .owl-carousel video {
            max-width: 100%;
            height: auto; } }

body::-webkit-scrollbar {
  width: .5em;
  z-index: 10; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px 2px rgba(128, 152, 181, 0.3);
          box-shadow: inset 0 0 7px 2px rgba(128, 152, 181, 0.3);
  background: none;
  opacity: .7;
  z-index: 10; }

body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: greenyellow;
  -webkit-box-shadow: inset 0 0 7px rgba(128, 152, 181, 0.5);
          box-shadow: inset 0 0 7px rgba(128, 152, 181, 0.5);
  cursor: pointer;
  z-index: 10; }

.faq {
  background: url(../img/main/BG_2block.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 80px 30px; }
  @media (max-width: 990px) {
    .faq {
      padding: 50px 20px;
      background: none; } }
  .faq .faq-container .faq-box {
    margin-bottom: 20px; }
    .faq .faq-container .faq-box .faq-text {
      font-size: 1.125rem;
      font-family: "Monst-medium";
      color: #2b2a2f; }
      @media (max-width: 990px) {
        .faq .faq-container .faq-box .faq-text {
          font-size: 1rem; } }
      @media (max-width: 768px) {
        .faq .faq-container .faq-box .faq-text {
          font-size: .87rem; } }
      .faq .faq-container .faq-box .faq-text span {
        font-family: "Monst-bold";
        color: #7dc035; }
  .faq .faq-container .faq-contact {
    display: grid;
    grid-template-columns: 3fr 2fr; }
    @media (max-width: 990px) {
      .faq .faq-container .faq-contact {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .faq .faq-container .faq-contact .faq-contact-box {
      position: relative;
      top: 60px; }
      @media (max-width: 990px) {
        .faq .faq-container .faq-contact .faq-contact-box {
          top: 0; } }
      .faq .faq-container .faq-contact .faq-contact-box .faq-contact-info {
        color: #2b2a2f;
        font-size: 1.25rem;
        font-family: "Monst-bold"; }
        @media (max-width: 990px) {
          .faq .faq-container .faq-contact .faq-contact-box .faq-contact-info {
            font-size: 1rem;
            margin-bottom: 40px; } }
        @media (max-width: 768px) {
          .faq .faq-container .faq-contact .faq-contact-box .faq-contact-info {
            font-size: .87rem; } }
    .faq .faq-container .faq-contact .feedback-form-box {
      background: #fff;
      z-index: 9;
      position: relative;
      padding: 40px 25px; }
      @media (max-width: 990px) {
        .faq .faq-container .faq-contact .feedback-form-box {
          background: transparent;
          padding: 10px; } }
      .faq .faq-container .faq-contact .feedback-form-box .button-wrapp {
        margin-top: 50px; }
        @media (max-width: 990px) {
          .faq .faq-container .faq-contact .feedback-form-box .button-wrapp {
            margin-top: 30px; } }
  .faq img {
    max-width: 100%; }

.kitchen-banner {
  background: url(../img/kitchen/BG1.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 600px;
  position: relative; }
  @media (max-width: 990px) {
    .kitchen-banner {
      padding: 50px 20px;
      height: auto; } }
  .kitchen-banner .kitchen-banner-container {
    position: absolute;
    bottom: 0; }
    @media (max-width: 990px) {
      .kitchen-banner .kitchen-banner-container {
        position: relative; } }
    .kitchen-banner .kitchen-banner-container .kitchen-banner-title {
      font-size: 1.5rem;
      font-family: "Monst-bold";
      color: #fff;
      margin-left: 30px;
      margin-bottom: 35px; }
      @media (max-width: 990px) {
        .kitchen-banner .kitchen-banner-container .kitchen-banner-title {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 20px;
          font-size: 1.25rem; } }
    .kitchen-banner .kitchen-banner-container .kitchen-banner-text {
      background: #dbe7ce;
      opacity: .85;
      padding: 20px 35px 30px 130px;
      position: relative;
      left: -100px;
      max-width: 900px;
      font-size: 1.125rem;
      font-family: "Monst-regular"; }
      @media (max-width: 990px) {
        .kitchen-banner .kitchen-banner-container .kitchen-banner-text {
          text-align: center;
          left: 0;
          max-width: none;
          font-size: .87rem;
          padding: 30px; } }
      .kitchen-banner .kitchen-banner-container .kitchen-banner-text span {
        font-size: 1.25rem;
        font-family: "Monst-bold"; }
        @media (max-width: 990px) {
          .kitchen-banner .kitchen-banner-container .kitchen-banner-text span {
            font-size: 1rem; } }

.kitchen-info {
  background: url(../img/kitchen/BG.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 20px 30px 40px 30px; }
  @media (max-width: 990px) {
    .kitchen-info {
      padding: 20px 20px 50px 20px; } }
  .kitchen-info p {
    font-size: 1.2rem;
    color: #000;
    font-family: "Monst-regular"; }
    .kitchen-info p span {
      color: #7dc035;
      font-family: "Monst-bold"; }
  .kitchen-info .kitchen-info-text-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 25px 0; }
    @media (max-width: 1100px) {
      .kitchen-info .kitchen-info-text-2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .kitchen-info .kitchen-info-text-2 .kitchen-img {
      position: relative;
      left: -70px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1280px) {
        .kitchen-info .kitchen-info-text-2 .kitchen-img {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media (max-width: 1100px) {
        .kitchen-info .kitchen-info-text-2 .kitchen-img {
          left: 0; } }
      .kitchen-info .kitchen-info-text-2 .kitchen-img img {
        width: 1000px; }
        @media (max-width: 1280px) {
          .kitchen-info .kitchen-info-text-2 .kitchen-img img {
            width: 600px; } }
        @media (max-width: 1100px) {
          .kitchen-info .kitchen-info-text-2 .kitchen-img img {
            margin: 20px 0; } }
        @media (max-width: 990px) {
          .kitchen-info .kitchen-info-text-2 .kitchen-img img {
            max-width: 100%; } }
  .kitchen-info .kitchen-info-text-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 25px 0; }
    @media (max-width: 1100px) {
      .kitchen-info .kitchen-info-text-4 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .kitchen-info .kitchen-info-text-4 .kitchen-img {
      position: relative;
      right: -70px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1280px) {
        .kitchen-info .kitchen-info-text-4 .kitchen-img {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media (max-width: 1100px) {
        .kitchen-info .kitchen-info-text-4 .kitchen-img {
          right: 0; } }
      .kitchen-info .kitchen-info-text-4 .kitchen-img img {
        width: 1000px; }
        @media (max-width: 1280px) {
          .kitchen-info .kitchen-info-text-4 .kitchen-img img {
            width: 600px; } }
        @media (max-width: 1100px) {
          .kitchen-info .kitchen-info-text-4 .kitchen-img img {
            margin: 20px 0; } }
        @media (max-width: 990px) {
          .kitchen-info .kitchen-info-text-4 .kitchen-img img {
            max-width: 100%; } }

.personal-bg {
  background: url(../img/personal/BG.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 90px 0; }
  @media (max-width: 990px) {
    .personal-bg {
      padding: 50px 20px;
      background: none; } }
  .personal-bg .personal-info .personal-wrapper {
    margin-bottom: 40px; }
    .personal-bg .personal-info .personal-wrapper p {
      color: #2b2a2f;
      font-size: 1.1rem;
      font-family: "Monst-medium";
      padding: 0 0 0 45px;
      letter-spacing: 0.8px; }
      @media (max-width: 990px) {
        .personal-bg .personal-info .personal-wrapper p {
          font-size: .87rem;
          padding: 0; } }
      .personal-bg .personal-info .personal-wrapper p span {
        color: #7dc035;
        font-size: 1.2rem;
        letter-spacing: 0.9px;
        font-family: "Monst-bold"; }
        @media (max-width: 990px) {
          .personal-bg .personal-info .personal-wrapper p span {
            font-size: 1rem; } }
    .personal-bg .personal-info .personal-wrapper .personal-info-list {
      background: #fff;
      padding-top: 20px; }
      @media (max-width: 990px) {
        .personal-bg .personal-info .personal-wrapper .personal-info-list {
          background: none; } }
    .personal-bg .personal-info .personal-wrapper ul {
      padding: 0 0 20px 45px; }
      @media (max-width: 990px) {
        .personal-bg .personal-info .personal-wrapper ul {
          padding: 0; } }
      .personal-bg .personal-info .personal-wrapper ul li {
        font-size: 1.1rem;
        font-family: "Monst-bold";
        margin-bottom: 10px; }
        @media (max-width: 990px) {
          .personal-bg .personal-info .personal-wrapper ul li {
            font-size: .87rem; } }
        .personal-bg .personal-info .personal-wrapper ul li::before {
          content: url(../img/personal/media-play-symbol.png);
          position: relative;
          top: 5px;
          margin-right: 5px; }
    .personal-bg .personal-info .personal-wrapper img {
      max-width: 100%; }
      @media (max-width: 1100px) {
        .personal-bg .personal-info .personal-wrapper img {
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px; } }
      @media (max-width: 990px) {
        .personal-bg .personal-info .personal-wrapper img {
          margin-top: 0;
          margin-bottom: 0; } }
    .personal-bg .personal-info .personal-wrapper .personal-info-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 30px; }
      @media (max-width: 1100px) {
        .personal-bg .personal-info .personal-wrapper .personal-info-container {
          grid-template-columns: 1fr; } }
      @media (max-width: 990px) {
        .personal-bg .personal-info .personal-wrapper .personal-info-container {
          margin-bottom: 0; } }
      .personal-bg .personal-info .personal-wrapper .personal-info-container .personal-info-box {
        display: grid;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 990px) {
          .personal-bg .personal-info .personal-wrapper .personal-info-container .personal-info-box {
            margin-bottom: 30px; } }
  .personal-bg .skills {
    background: url(../img/personal/BG_skills.png) no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    padding: 40px 20px 120px 20px;
    margin-bottom: 60px; }
    @media (max-width: 990px) {
      .personal-bg .skills {
        margin-bottom: 40px;
        background: none;
        padding: 0; } }
    .personal-bg .skills .skills-title {
      color: #2b2a2f;
      font-size: 1.2rem;
      text-align: center;
      text-transform: uppercase;
      font-family: "Monst-bold";
      margin-bottom: 60px; }
      @media (max-width: 990px) {
        .personal-bg .skills .skills-title {
          margin-bottom: 30px;
          font-size: 1rem; } }
    .personal-bg .skills .skills-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 990px) {
        .personal-bg .skills .skills-container {
          grid-template-columns: 1fr; } }
      .personal-bg .skills .skills-container .skills-box {
        display: grid;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 350px;
        margin: 0 60px;
        background-color: #8ec314; }
        @media (max-width: 1280px) {
          .personal-bg .skills .skills-container .skills-box {
            margin: 0 30px; } }
        @media (max-width: 1200px) {
          .personal-bg .skills .skills-container .skills-box {
            height: 325px; } }
        @media (max-width: 990px) {
          .personal-bg .skills .skills-container .skills-box {
            height: auto;
            margin: 20px 0;
            padding: 40px 20px; } }
        .personal-bg .skills .skills-container .skills-box .skills-box-text {
          text-align: center;
          letter-spacing: .6px;
          font-size: 1.20rem;
          color: #2b2a2f;
          font-family: "Monst-bold"; }
          @media (max-width: 1200px) {
            .personal-bg .skills .skills-container .skills-box .skills-box-text {
              font-size: 1rem; } }
          @media (max-width: 990px) {
            .personal-bg .skills .skills-container .skills-box .skills-box-text {
              font-size: .87rem; } }
      .personal-bg .skills .skills-container .num-1 {
        position: relative; }
        .personal-bg .skills .skills-container .num-1::after {
          content: '01';
          position: absolute;
          font-family: "Monst-bold";
          color: #fff;
          font-size: 9rem;
          top: -60px;
          left: -45px; }
          @media (max-width: 990px) {
            .personal-bg .skills .skills-container .num-1::after {
              display: none; } }
        .personal-bg .skills .skills-container .num-1::before {
          content: url(../img/personal/people.png);
          position: absolute;
          right: -50px;
          bottom: -80px; }
          @media (max-width: 990px) {
            .personal-bg .skills .skills-container .num-1::before {
              display: none; } }
      .personal-bg .skills .skills-container .num-2 {
        position: relative; }
        .personal-bg .skills .skills-container .num-2::after {
          content: '02';
          position: absolute;
          font-family: "Monst-bold";
          color: #fff;
          font-size: 9rem;
          top: -60px;
          left: -45px; }
          @media (max-width: 990px) {
            .personal-bg .skills .skills-container .num-2::after {
              display: none; } }
        .personal-bg .skills .skills-container .num-2::before {
          content: url(../img/personal/skills.png);
          position: absolute;
          right: -50px;
          bottom: -80px; }
          @media (max-width: 990px) {
            .personal-bg .skills .skills-container .num-2::before {
              display: none; } }
      .personal-bg .skills .skills-container .num-3 {
        position: relative; }
        .personal-bg .skills .skills-container .num-3::after {
          content: '03';
          position: absolute;
          font-family: "Monst-bold";
          color: #fff;
          font-size: 9rem;
          top: -60px;
          left: -45px; }
          @media (max-width: 990px) {
            .personal-bg .skills .skills-container .num-3::after {
              display: none; } }
        .personal-bg .skills .skills-container .num-3::before {
          content: url(../img/personal/ed.png);
          position: absolute;
          right: -50px;
          bottom: -80px; }
          @media (max-width: 990px) {
            .personal-bg .skills .skills-container .num-3::before {
              display: none; } }
  .personal-bg .check .check-title {
    font-size: 1.25rem;
    color: #7dc035;
    letter-spacing: .96px;
    font-family: "Monst-bold";
    position: relative;
    left: 30px;
    margin-bottom: 60px; }
    @media (max-width: 990px) {
      .personal-bg .check .check-title {
        font-size: 1rem;
        left: 0;
        margin-bottom: 30px;
        text-align: center; } }
  .personal-bg .check .check-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; }
    @media (max-width: 1150px) {
      .personal-bg .check .check-container {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 990px) {
      .personal-bg .check .check-container {
        grid-template-columns: 1fr;
        grid-gap: 0; } }
    .personal-bg .check .check-container .check-box {
      display: grid;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 990px) {
        .personal-bg .check .check-container .check-box {
          margin-bottom: 40px; } }
      .personal-bg .check .check-container .check-box a img {
        max-width: 100%; }
    .personal-bg .check .check-container .check-box:last-child {
      margin-bottom: 0; }

@font-face {
  font-family: "Monst-regular";
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: "Monst-bold";
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: "Monst-medium";
  src: url(../fonts/Montserrat-Medium.ttf); }

textarea {
  outline: none; }

.menu_item_wpglobus_menu_switch {
  position: relative; }

header .header-container .sub-menu li {
  padding: 5px 10px;
  text-transform: capitalize; }

.menu_item_wpglobus_menu_switch .sub-menu {
  position: absolute;
  left: -4px;
  top: 0px;
  display: none;
  padding: 30px 5px 0 5px; }

@media (max-width: 990px) {
  .menu_item_wpglobus_menu_switch .sub-menu {
    position: relative;
    left: -10px;
    top: 0px;
    display: none;
    padding: 2px 5px 0 0; } }

li {
  list-style-type: none; }

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

ul {
  padding: 0; }

.about {
  padding: 55px 30px 60px 30px; }

.wpglobus_language_name {
  text-transform: capitalize; }

.feedback-form-box .button-wrapp {
  position: relative;
  left: 106px; }
