/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 70px;
  text-align: center;
  z-index: 999;
  position: relative;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 20px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; 
  position: relative;}
    .owl-theme .owl-nav [class*='owl-']:before {
      content: '';
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 2.5px solid #7dc035;
      display: block;
      position: relative;
    }
    /* .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; } */
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #000;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

      .owl-prev span {
        opacity: 0;
      }

      .owl-next span {
        opacity: 0;
      }

      .owl-prev::after{
        content: '\2190';
        font-size: 1.25rem;
        color: #fff;
        position: absolute;
        top: 7px;
        left: 9px;
      }

      .owl-next::after{
        content: '\2192';
        font-size: 1.25rem;
        color: #fff;
        position: absolute;
        top: 7px;
        left: 9px;
      }

      @media (max-width: 1400px) {
        .owl-prev::after{
          content: '\2190';
          font-size: 1.25rem;
          color: #fff;
          position: absolute;
          top: 6px;
          left: 9px;
        }

        .owl-next::after{
          content: '\2192';
          font-size: 1.25rem;
          color: #fff;
          position: absolute;
          top: 6px;
          left: 9px;
        }
    }

      @media (max-width: 1280px) {
        .owl-prev::after{
          content: '\2190';
          font-size: 1.25rem;
          color: #fff;
          position: absolute;
          top: 7px;
          left: 9px;
        }
  
        .owl-next::after{
          content: '\2192';
          font-size: 1.25rem;
          color: #fff;
          position: absolute;
          top: 7px;
          left: 9px;
        }
      }

      @media (max-width: 380px) {
        .owl-prev::after{
          content: '\2190';
          font-size: 1.25rem;
          color: #fff;
          position: absolute;
          top: 6px;
          left: 9px;
        }
  
        .owl-next::after{
          content: '\2192';
          font-size: 1.25rem;
          color: #fff;
          position: absolute;
          top: 6px;
          left: 9px;
        }
      }