.monitor-video {
    background: url(../img/main/BG_1block.png) no-repeat center;
    background-size: cover;
    height: 990px;
    border-bottom: 5px solid $green;
    @media (max-width: 1100px) {
        height: 100%;
    }
    @media (max-width: 990px) {
        margin-bottom: 15px;
    }
    .monitoe-video-slider {
        padding: 75px 0 0 0;
        margin: 0 50px;
        @media (max-width: 990px) {
            padding: 30px 0 0 0;
            margin: 0 50px;
        }
        .owl-carousel {
            background: url(../img/main/monitor2.png) no-repeat center;
            background-size: 1500px 1150px;
            height: 850px;
            @media (max-width: 1100px) {
                background: none;
                height: 100%;
            }
            video {
                display: block;
                height: 600px;
                max-width: 1070px;
                margin: 0 auto;
                margin-top: 47px;
                @media (max-width: 1100px) {
                    max-width: 100%;
                    height: 100%;
                    margin-top: 30px;
                }
                @media (max-width: 990px) {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}
