.faq {
    background: url(../img/main/BG_2block.png) no-repeat center;
    background-size: cover;
    padding: 80px 30px;
    @media (max-width: 990px) {
        padding: 50px 20px;
        background: none;
    }
    .faq-container {
        .faq-box {
            margin-bottom: 20px;
            .faq-text {
                font-size: 1.125rem;
                font-family: "Monst-medium";
                color: #2b2a2f;
                @media (max-width: 990px) {
                    font-size: 1rem;
                }
                @media (max-width: 768px) {
                    font-size: .87rem;
                }
                span {
                    font-family: "Monst-bold";
                    color: #7dc035;
                }
            }
        }
        .faq-contact {
            display: grid;
            grid-template-columns: 3fr 2fr;
            @media (max-width: 990px) {
                display: flex;
                flex-direction: column;
            }
            .faq-contact-box {
                position: relative;
                top: 60px;
                @media (max-width: 990px) {
                    top: 0;
                }
                .faq-contact-info {
                    color: #2b2a2f;
                    font-size: 1.25rem;
                    font-family: "Monst-bold";
                    @media (max-width: 990px) {
                        font-size: 1rem;
                        margin-bottom: 40px;
                    }
                    @media (max-width: 768px) {
                        font-size: .87rem;
                    }
                }
            }
            .feedback-form-box {
                background: #fff;
                z-index: 9;
                position: relative;
                padding: 40px 25px;
                @media (max-width: 990px) {
                    background: transparent;
                    padding: 10px;
                }
                .button-wrapp {
                    margin-top: 50px;
                    @media (max-width: 990px) {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    img {
        max-width: 100%;
    }
}