.trading {
    background: url(../img/main/BG_1block.png) no-repeat center;
    background-size: cover;
    padding: 100px 30px;
    border-bottom: 5px solid $green;
    @media (max-width: 990px) {
        padding: 35px 20px 35px 20px;
        background: $black;
    }
    .trading-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1350px;
        margin: 0 auto;
        justify-content: center;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        .trading-box {
            padding: 0 20px;
            @media (max-width: 990px) {
                margin-bottom: 30px;
                padding: 0;
            }
            .trading-title {
                color: #f7f7f7;
                font-family: "Monst-bold";
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 25px;
                @media (max-width: 990px) {
                    margin-bottom: 15px;
                }
            }
            .trading-img-box {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-bottom: 25px;
                @media (max-width: 990px) {
                    margin-bottom: 15px;
                }
            }
            .trading-text {
                opacity: .6;
                color: #f7f7f7;
                font-family: "Monst-regular";
                font-size: 1.1rem;
                text-align: justify;
                max-width: 320px;
                margin: 0 auto;
            }
        }
    }
}