.whyus {
    background: url(../img/main/BG_why_us.png) no-repeat center;
    background-size: cover;
    padding: 140px 30px;
    .title-xl {
        margin-bottom: 120px;
        @media (max-width: 990px) {
            margin-bottom: 60px;
        }
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
    @media (max-width: 990px) {
        height: auto;
        background: #f7f7f7;
        padding: 35px 20px 35px 20px;
    }
    .whyus-wrapper {
        max-width: 1130px;
        margin: 0 auto;
        @media (max-width: 990px) {
            max-width: none;
        }
        .whyus-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr 1fr;
            position: relative;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-auto-rows: 1fr 1fr 1fr 1fr;
            }
            &::before {
                content: '';
                display: flex;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                z-index: 2;
                @media (max-width: 990px) {
                    display: none;
                }
            }
            .whyus-box {
                display: grid;
                grid-template-columns: 1fr 3fr;
                justify-content: center;
                align-items: center;
                padding: 40px 30px;
                @media (max-width: 990px) {
                    padding: 30px 0;
                }
                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    padding: 20px 0;
                }
                img {
                    @media (max-width: 768px) {
                        display: grid;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                }
                .whyus-title {
                    color: #7dc035;;
                    font-family: "Monst-bold";
                    font-size: 1.30rem;
                    margin-bottom: 10px;
                    @media (max-width: 990px) {
                        font-size: 1.2rem;
                    }
                    @media (max-width: 576px) {
                        font-size: 1.125;
                    }
                }
                .whyus-text {
                    font-family: "Monst-regular";
                    font-size: 1.12rem;
                    @media (max-width: 990px) {
                        font-size: 1rem;
                    }
                    @media (max-width: 576px) {
                        font-size: .87rem;
                    }
                }
                .right {
                    text-align: right;
                    @media (max-width: 990px) {
                        text-align: center;
                    }
                }
                .left {
                    text-align: left;
                    @media (max-width: 990px) {
                        text-align: center;
                    }
                }
            }
            .box-2 {
                grid-template-columns: 3fr 1fr;
                img {
                    display: grid;
                    padding-left: 25px;
                    @media (max-width: 990px) {
                        padding: 0;
                    }
                }
                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
            }
            .border-1 {
                border-right: 1px solid $green;
                border-bottom: 1px solid $green;
                @media (max-width: 990px) {
                    border: none;
                }
            }
            .border-2 {
                border-left: 1px solid $green;
                border-top: 1px solid $green;
                @media (max-width: 990px) {
                    border: none;
                }
            }
            .mob-img {
                display: none;
                @media (max-width: 768px) {
                    display: block;
                }
            }
            .desk-img {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}