.kitchen-banner {
    background: url(../img/kitchen/BG1.png) no-repeat center;
    background-size: cover;
    height: 600px;
    position: relative;
    @media (max-width: 990px) {
        padding: 50px 20px;
        height: auto;
    }
    .kitchen-banner-container {
        position: absolute;
        bottom: 0;
        @media (max-width: 990px) {
            position: relative;
        }
        .kitchen-banner-title {
            font-size: 1.5rem;
            font-family: "Monst-bold";
            color: #fff;
            margin-left: 30px;
            margin-bottom: 35px;
            @media (max-width: 990px) {
                text-align: center;
                margin: 0 auto;
                margin-bottom: 20px;
                font-size: 1.25rem;
            }
        }
        .kitchen-banner-text {
            background: #dbe7ce;
            opacity: .85;
            padding: 20px 35px 30px 130px;
            position: relative;
            left: -100px;
            max-width: 900px;
            font-size: 1.125rem;
            font-family: "Monst-regular";
            @media (max-width: 990px) {
                text-align: center;
                left: 0;
                max-width: none;
                font-size: .87rem;
                padding: 30px;
            }
            span {
                font-size: 1.25rem;
                font-family: "Monst-bold";
                @media (max-width: 990px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.kitchen-info {
    background: url(../img/kitchen/BG.png) no-repeat center;
    background-size: cover;
    padding: 20px 30px 40px 30px;
    @media (max-width: 990px) {
        padding: 20px 20px 50px 20px; 
    }
    p {
        font-size: 1.2rem;
        color: #000;
        font-family: "Monst-regular";
        span {
            color: #7dc035;
            font-family: "Monst-bold";
        }
    }
    .kitchen-info-text-2 {
        display: flex;
        position: relative;
        padding: 25px 0;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
        .kitchen-img {
            position: relative;
            left: -70px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 1280px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media (max-width: 1100px) {
                left: 0;
            }
            img {
                width: 1000px;
                @media (max-width: 1280px) {
                    width: 600px;
                }
                @media (max-width: 1100px) {
                    margin: 20px 0;
                }
                @media (max-width: 990px) {
                    max-width: 100%;
                }
            }
        }
    }
    .kitchen-info-text-4 {
        display: flex;
        position: relative;
        padding: 25px 0;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
        .kitchen-img {
            position: relative;
            right: -70px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 1280px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media (max-width: 1100px) {
                right: 0;
            }
            img {
                width: 1000px;
                @media (max-width: 1280px) {
                    width: 600px;
                }
                @media (max-width: 1100px) {
                    margin: 20px 0;
                }
                @media (max-width: 990px) {
                    max-width: 100%;
                }
            }
        }
    }
}