.title-xl {
    font-family: "Monst-bold";
    font-size: 2.25rem;
    color: #1a191e;
    padding-left: 40px;
    position: relative;
    z-index: 2;
    margin-bottom: 45px;
    &::before {
        content: url(../img/main/candle.png);
        position: absolute;
        left: -20px;
        top: -7px;
        z-index: -1;
        @media (max-width: 990px) {
            display: none;
        }
    }
    @media (max-width: 990px) {
        padding: 0;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 15px;
    }
    @media (max-width: 576px) {
        font-size: 1.5rem;
    }
}

.title-sm {
    color: #151515;
    font-family: "Monst-bold";
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .51px;
    margin-bottom: 45px;
    padding-left: 175px;
    @media (max-width: 990px) {
        padding: 0;
        text-align: center;
        margin-bottom: 30px;
    }
}