footer {
    background: $black;
    padding: 25px;
    border-top: 4px solid $green;
    z-index: 2;
    position: relative;
    @media (max-width: 990px) {
        padding: 15px;
    }
    .footer-container-main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        "nav-footer logo-footer social-footer";
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "nav-footer"
            "logo-footer"
            "social-footer";
        }
        .footer-nav-container {
            grid-area: nav-footer;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 20px;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-template-rows: 60px 60px;
                grid-gap: 0;
                margin-bottom: 20px;
            }
            .footer-nav-box {
                @media (max-width: 990px) {
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                li {
                    a {
                        letter-spacing: .3px;
                        color: #fff;
                        font-size: .75rem;
                        font-family: "Monst-regular";
                        text-decoration: none;
                        white-space: nowrap;
                        transition: .5s;
                        &:hover {
                          text-decoration: underline;  
                          color: #75ac02;
                          font-family: "Monst-bold";
                        }
                    }
                }
            }   
        }
        .footer-logotype {
            grid-area: logo-footer;
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;
            grid-template-rows: 1fr 1fr;
            img {
                margin: 0 auto;
            }
            p {
                color: #fff;
                font-family: "Monst-regular";
                font-size: .87rem;
                line-height: 0.4;
            }
            @media (max-width: 990px) {
                margin-bottom: 25px;
            }
        }

        .footer-social-link {
            grid-area: social-footer;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            @media (max-width: 990px) {
                grid-gap: 0;
                grid-template-columns: 1fr;
                align-items: center;
                justify-content: center;
            }
            .social-links-box {
                display: flex;
                align-items: center;
                @media (max-width: 990px) {
                    justify-content: center;
                    margin-bottom: 15px;
                }   
                .footer-link-social {
                    margin: 0 5px;
                    .footer-svg {
                        height: 22px;
                    }
                }
            }
            .button-box-up {
                display: flex;
                align-items: center;
                @media (max-width: 990px) {
                    justify-content: center;
                    position: relative;
                    left: -10px;
                } 
                .button-up {
                    color: #fff;
                    letter-spacing: .3px;
                    font-size: .8rem;
                    text-decoration: none;
                    position: relative;
                    font-family: "Monst-regular";
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                    }
                    &::after{
                        content: '\2191';
                        color: #fff;
                        font-size: 1rem;
                        position: absolute;
                        right: -24.5px;
                        font-family: none;
                        top: -1px;
                    }
                    &::before {
                        content: '';
                        border-radius: 50%;
                        border: 1px solid $green;
                        height: 22px;
                        width: 22px;
                        display: block;
                        position: absolute;
                        right: -32.25px;
                        top: -3.5px;
                    }
                }
            }
        }
    }
}