.feedback {
    background: url(../img/main/BG_contacts.png) no-repeat center;
    background-size: cover;
    height: 755px;
    padding: 0 30px;
    position: relative;
    bottom: -60px;
    @media (max-width: 990px) {
        height: auto;
        background: #f7f7f7;
        padding: 0px 20px 35px 20px;
        bottom: 0;
    }
    .feedback-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        z-index: 10;
        max-width: 1100px;
        margin: 0 auto;
        @media (max-width: 990px) {
            max-width: none;
            grid-template-columns: 1fr;
        }
        .feedback-contact-box {
            display: grid;
            height: 305px;
            @media (max-width: 990px) {
                height: 200px;
                justify-content: center;
                text-align: center;
                margin-bottom: 30px;
            }
            .phone-box {
                display: flex;
                flex-direction: column;
            }
            a, address {
                color: #585858;
                font-family: "Monst-bold";
                font-size: 1.1rem;
                letter-spacing: .43px;
                text-decoration: none;
                font-style: normal;
            }
        }
    }
}

.feedback-form-box {
    position: relative;
    .input-box {
        margin-bottom: 20px;
        @media (max-width: 990px) {
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr;
        }               
    }
    label {
        color: #585858;
        font-family: "Monst-bold";
        font-size: 1.1rem;
        letter-spacing: .43px;
        position: relative;
        top: 20px;
        @media (max-width: 990px) {
            margin-bottom: 30px;
            font-size: 1rem;
            text-align: center;
            top: 0;
        }
    }
    .input {
        padding: 10px 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #cacaca;
        position: absolute;
        left: 130px;
        width: 420px;
        font-size: 1rem;
        outline: none;
        font-family: "Monst-regular";
        @media (max-width: 990px) {
            position: relative;
            left: 0;
            margin: 0 auto;
        }
        @media (max-width: 576px) {
            width: 94%;
        }
    }
    textarea {
        height: 150px;
        padding: 10px 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #cacaca;
        position: relative;
        left: 130px;
        width: 420px;
        font-size: 1rem;
        font-family: "Monst-regular";
        margin-bottom: 20px;
        @media (max-width: 990px) {
            left: 0;
            margin: 0 auto;
        }
        @media (max-width: 576px) {
            width: 94%;
        }
    }
    .button-wrapp {
        position: relative;
        left: 130px;
        @media (max-width: 990px) {
            left: 0;
            text-align: center;
        }
        .button-send {
            outline: none;
            border: none;
            font-size: 1.5rem;
            font-family: "Monst-medium";
            background: $green;
            color: #fff;
            padding: 12px 17px;
        }
    }
}